* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gotu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    /* padding: 30px; */
}

.header {
    height: 100vh;
    background-image: linear-gradient(to right,rgba(255, 214, 153, 0.6),rgba(255, 184, 77, 0.6)), url(./images/beach.jpeg);
    background-size: cover;
    background-position: top;
}
.text-box {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
i {
    padding: 30px;
    display: inline-block;
}

.nav {
    padding-top: 20px;
    list-style-type: none;
    color: white;
    display:inline-block;
    vertical-align:top;
}
ul.nav {
    float: right;
    font-size: 25px;
}
a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

li {
    display: inline;
    padding: 30px;
}

h1 {
    font-size: 50px;
    letter-spacing: 5px;
}

h2 {
    letter-spacing: 10px;
}